services:
  - type: web
    name: billswift-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 5001
      - key: FRONTEND_URL
        value: https://bill-swift-omega.vercel.app
